{% extends 'layout.html' %}

{% block content %}

<h2>Dashboard</h2>

<!-- Welcome Modal -->
<div class="modal fade"
     id="welcomeModal"
     tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    Welcome 👋
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body text-center">

                <img src="{{ url_for('static', filename='images/my photo.jpg') }}"
                     width="150"
                     class="rounded-circle shadow mb-3">

                <h3>Hello 👋</h3>

                <p>
                    I, <strong>Vivek Sutar</strong>,
                    proudly created this website.
                </p>

            </div>

        </div>

    </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    if (!sessionStorage.getItem("welcomeShown")) {

        var modal = new bootstrap.Modal(
            document.getElementById("welcomeModal")
        );

        modal.show();

        sessionStorage.setItem("welcomeShown", "true");
    }

});
</script>

{% endblock %}